# Compilados
build/
target/
*.class

# Salida generada por la app (reportes/logs)
salida/

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
